* {
    main-bg:            #363942E6;
    main-fg:            #FCFCFC;
    main-br:            #84886B;
    main-ex:            #535B59;
    select-bg:          #D6D6D6;
    select-fg:          #1A1A1A;
}
